body {
    color: #000000;
    background-image: url("../images/fon.jpg");
    background-repeat: repeat;
    background-position: center;
    font-family: Georgia, Times, Serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #f9f8f6;}
header {
    height: 160px;
    background-image: url(../images/header.jpg);}
h1 {
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;}
a {
    color: #010088;
    text-decoration: none;}
h1, h2 {
    font-weight: normal;}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;}
section.news {
    float: left;
    width: 647px;}
section.table900 {
	font-family: Arial, Verdana, Sans-serif;
    margin: 20px 10px 20px 20px;}
section.contacts {
    font-family: Arial, Verdana, Sans-serif;
    margin: 20px 20px 20px 330px;}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
    border-width: 1px;
    border-top-style: solid;
    border-color: #000000;}
nav li {
    display: inline;
    margin-left: 70px;}
nav li a {
    color: #ffffff;}
nav li a.current {
    color: #000000;}
article {
    clear: both;
    overflow: auto;
    width: 100%;}
hgroup {
    margin-top: 26px;
    font-family: Arial, Verdana, Sans-serif;
    color: #010088;}
figure {
    float: left;
    width: 212px;
    height: 160px;
    padding: 5px;
    margin: 20px 20px 10px 20px;
    border: 1px solid #adadad;}
aside {
    width: 260px;
    float: left;
    padding: 0px 0px 0px 20px;    
    border-left: 1px solid #adadad;}
aside h2 {
    padding: 5px 0px 0px 0px;
    color: #010088;}
footer {
    font-family: Arial, Verdana, Sans-serif;
    font-size: 90%;
    text-align: center;
    padding: 7px 0px 0px 20px;}